[Desktop Entry]
Version=1.0.2
Name=MicroSim 1.0.2
Path=/home/tanmay/Downloads/InfileGenerator
Exec=InfileGenerator
Terminal=false
Icon=/home/tanmay/Downloads/InfileGenerator/resources/MicroSim_Logo.png
Type=Application
